annotated-types
anyio
certifi
cffi
charset-normalizer
click
cryptography
Deprecated
fastapi
h11
httpcore
httpx
idna
iniconfig
packaging
pluggy
pycparser
pydantic
pydantic-settings
pydantic_core
PyGithub
PyJWT
PyNaCl
pytest
python-dotenv
requests
slack_sdk
sniffio
starlette
typing-extensions
urllib3
uvicorn
wrapt